/**
 * Global
 */

 /* purgecss start ignore */

// a {
//   color: map-get($theme-colors, 'primary');
// }

// /**
//  * Block editor color palette utilities
//  * @see https://git.io/JeyD6
//  */

// @each $color-name, $color-value in $theme-colors {
//   .has-#{$color-name}-color {
//     color: $color-value;
//   }

//   .has-#{$color-name}-background-color {
//     background-color: $color-value;
//   }
// }

* { 
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

html {
  @apply font-heebo font-light bg-c-gray-300;
  padding: env(safe-area-inset);
}

h1, h2, h3, h4 {
  @apply font-slab font-normal;
}

p {
  @apply mb-4 leading-relaxed;
}



/* purgecss end ignore */